<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Complete Your Order</title>
</head>
<body>
	<div id="navbar">
		<img src="{% static 'img/example_logo.png' %}" id="logo">
		<a href="/usershome" id="homenav">Home</a>
		<a href="/logout" id="logout">Logout</a>
		<a href="" id="about">About</a>
	</div>
	<div class="map">
		<h3>Thank you!</h3>
    	<p>You are ordering {{order}} items for a total of ${{total}}</p>
    </div>
    <div>
    	{% for i in pokemon %}
    		<h2>{{ i.name }}</h2>
		{% endfor %}
    </div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>